{% extends 'main.html' %} {% block body_block %}
{% for item in user_products %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{item.image.url}}" alt="not Avaliable" class="img-fluid product-img">
        </div>
        <div>
            <h1>{{item.name}}</h1>
            <h2>Amount:{{item.price}}</h2>
            <h2>{{item.descripation}}</h2>
            <a href="{% url 'removewish' id=item.id %}" class="btn btn-primary" >Remove</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}